.fourth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 100px;
    @include demiFont;

    &__title {
        font-size: 52px;
        margin: 0;
        text-transform: uppercase;
    }

    &__dots {
        img {
            margin: 40px 0 60px 0;
            width: 10px;
        }
    }

    &__buttons {
        display: flex;
        gap: 60px;

        &__btn {
            padding: 10px 30px;
            color: white;
            font-size: 24px;
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            cursor: pointer;
            @include demiFont;
            transition: 0.3s;

            &:hover {
                background-color: #DB3138;
            }
        }
    }

    &__services-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        width: 100%;

        div {
            display: grid;
            justify-items: center;
            gap: 20px;
            padding: 80px 0;
            grid-template-rows: 50px 80px 120px 40px;
            border: 1px solid white;
            margin-top: 80px;

            p {
                text-align: center;
                margin: 0;

                &:nth-child(2) {
                    font-size: 24px;
                    letter-spacing: 0.5px;
                    margin: 20px 0;
                }
                &:nth-child(3) {
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    margin-bottom: 25px;
                    text-align: center;
                    padding: 0 41px;
                }
            }

            button {
                width: 60px;
                height: 41px;

                p {
                    font-size: 18px;
                    left: 20px;
                }
            }

            &:nth-child(1) {
                grid-column: 1;
                animation: servicesCardsAppearingAnimationToBottom 0.7s ease-in-out;
            }

            &:nth-child(2) {
                grid-column: 2;
                animation: servicesCardsAppearingAnimationToRight 1s ease-in-out;
            }

            &:nth-child(3) {
                grid-column: 3;
                animation: servicesCardsAppearingAnimationToRight 1.3s ease-in-out;

            }

            &:nth-child(4) {
                grid-column: 4;
                animation: servicesCardsAppearingAnimationToRight 1.6s ease-in-out;
            }
        }

        img {
            grid-row: 1;
        }

        
    }
}