@import url(https://db.onlinewebfonts.com/c/75742b1de4c93f05b704d769c0d9b61a?family=Reforma+Grotesk+Bold+W08+Rg);
@import url(https://db.onlinewebfonts.com/c/a1a0b70c106869cc8ef580ce8f637da6?family=Reforma+Grotesk+Demi+W08+Rg);

a {
    outline: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #141414;
    color: white;
}