@font-face {
    font-family: ReformaLight;
    src: url("../fonts/ReformaGroteskLight.ttf");
}

@font-face {
    font-family: ReformaMedium;
    src: url("../fonts/ReformaGroteskMedium.ttf");
}

@font-face {
    font-family: ReformaDemi;
    src: url("../fonts/ReformaGroteskDemi.ttf");
}

@font-face {
    font-family: ReformaBold;
    src: url("../fonts/ReformaGroteskBold.ttf");
}