@mixin lightFont {
    font-family: "ReformaLight";
}

@mixin mediumFont {
    font-family: "ReformaMedium";
}

@mixin demiFont {
    font-family: "ReformaDemi";
}

@mixin boldFont {
    font-family: "ReformaBold";
}
